.list-button {
    margin-bottom: 50px;
    justify-content: center;
}

.button-item:not(:last-child) {
    margin-right: 8px;
}

.filter-button {
    border: 1px transparent;
    border-radius: 4px;
    background-color: var(--section-color);
    padding-top: 6px;
    padding-right: 22px;
    padding-bottom: 6px;
    padding-left: 22px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--primary-background-color);
        background-color: var(--link-color);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}