.header-item {
    display: flex;
    align-items: center;
}

.header-border {
    border-bottom: 1px solid var(--header-border-color);
}

.logo {
    color: var(--link-color);
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.logo-second-part {
    color: var(--logo-color);
}

.list-link {
    display: flex;
    margin-left: 93px;
}

.link {
    display: block;
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--primary-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--link-color);
    }
}

.list-item:not(:last-child) {
    margin-right: 50px;
}

.link.current {
    color: var(--link-color);

    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 4px;
        bottom: 0;
        left: 0;
        border-radius: 2px;
        background-color: var(--link-color);
    }
}

.list-address {
    display: flex;
    margin-top: 0;
    margin-left: auto;
}

.link-address {
    color: var(--link-address-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--link-color);
    }
}

.address-item:not(:last-child) {
    margin-right: 50px;
}

.mail-icon {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: currentColor;

    &:hover,
    &:focus {
        fill: var(--link-color);
    }
}

.phone-icon {
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill: currentColor;

    &:hover,
    &:focus {
        fill: var(--link-color);
    }
}

.mail {
    margin-left: auto;
}
