.hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-section-image.jpg);
    background-color: var(--background-color-image);
    background-size: cover;
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.hero__title {
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 696px;
    color: var(--primary-background-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.hero__button {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 32px;
    padding-left: 32px;
    border: 1px transparent;
    border-radius: 4px;
    min-width: 216px;
    color: var(--primary-background-color);
    background-color: var(--link-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: var(--active-button-color);
        cursor: pointer;
    }
}