.worker-list {
    flex-basis: calc((100% - 4*30px) / 4);
    width: 270px;

    &:not(:last-child) {
        margin-right: 30px;
    }
}

.worker-description {
    padding-top: 30px;
    padding-bottom: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--primary-background-color);
}

.description-title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

.worker-section {
    background-color: var(--section-color);
}

.worker {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

.card-worker {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}

.profession-worker {
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--link-address-color);
}

.box-media {
    justify-content: center;
}

.social-list {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    justify-content: center;
    display: flex;
    align-items: center;

    &:not(:last-child) {
        margin-right: 10px;
    }
}

.link-networks {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    justify-content: center;
    display: flex;
    align-items: center;
    fill: var(--social-network-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        fill: var(--primary-background-color);
        background-color: var(--link-color);
    }
}

.social-networks {
    display: flex;
    width: 20px;
    height: 20px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}